*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
}

.cabecalho-imagem{
    width: 40%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.cachorro-pidao{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#000000,#292929);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0;
}

.escola-div-conteudo{
    width: 50%;
    padding: 24px 0;
}

.escola-titulo{
    padding: 24px 0;
}